<div class="center-align">
<!-- <h3 >Amaze</h3> -->
<br>
<h6>You scored</h6>
<h1>{{score}}</h1>
<br>
</div>
<div class="row center-align" id="options">
	<div class="col s6"> 
	    <a class="wave
	    s-effect waves-light btn" onclick="location.reload();">Play Again</a> 
	</div>
	<div class="col s6">
	    <a class="wave
	    s-effect waves-light btn" id="show_submit_screen" >High Score</a>
	</div>
</div>

<div class="row" id="submit-screen" style="display:none">
<br>
<label for="name">Your name here</label>
<input id="name" type="text">
<br>
<div class="center-align">
<br>
<a class="wave
    s-effect waves-light btn blue" id="submit_score">Submit</a>
</div>
</div>
<script type="text/javascript">
	$("#submit_score").click(function() {


	    // $('#words').html("Loading...")
	    console.log("YEa");
	    $.post("/score_post", {
	            name: $('#name').val(),
	            score: $('#score').html()

	        },
	        function(data, status) {
	        	$('#main-div').html(data)
	        });
	});
	$('#show_submit_screen').click(function() {
		console.log("function called");
		$('#submit-screen').css({
			display: 'block'	
		});
	});
</script>